SSHConfig/Debug
SSHConfig/Release
SSHConfig/DebugPP
SSHConfig/ReleasePP
SSHConfig/build
SSHConfig/SSHConfigPP.pro*
SSHConfigHelper/Debug
SSHConfigHelper/Release
SSHConfigHelper/build
SSHConfigHelper/SSHClient*
SSHConfigHelper/SSHConfigHelper
RemoteWindow/Debug
RemoteWindow/Release
RemoteWindow/DebugPP
RemoteWindow/ReleasePP
RemoteWindow/build
RemoteWindow/RemoteWindowPP.pro*
SSHConfigServer/Debug
SSHConfigServer/Release
SSHConfigServer/build
SSHConfigServer/ca
SSHConfigServer/key
SSHConfigServer/etc/sshconfig.json
SSHConfig_using_libssh
SSHConfig_using_libssh/**
SFTPWindow
SFTPWindow/**
ThirdPartyLicenses/libssh.txt
SSHConfigTop.pro.*
Debug
Release
build
Required_Build.txt
sshd_config
Makefile
org.presire.sshconfig*
Required_Build.txt
ThirdPartyLicenses/libssh.txt
**/*.pro.user*
**/*.0
**/*.o
**/*.lo
**/*.so
**/*.out
**/*.a
tags
